@import url("https://fonts.googleapis.com/css?family=Mulish:regular,500,600&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?qc2d8b") format("truetype"), url("../fonts/icomoon.woff?qc2d8b") format("woff"), url("../fonts/icomoon.woff2?qc2d8b") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-star:before {
  content: "\e902";
}

._icon-whatsapp:before {
  content: "\e903";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: toRem(110);
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #fffbf2;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 85.3125rem;
  padding-inline: 3.5625rem;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  [class$=__container] {
    padding-inline: 1.75rem;
  }
}
@media (max-width: 479.98px) {
  [class$=__container] {
    padding-inline: 0.9375rem;
  }
}

[class$=__container-max] {
  max-width: 85.375rem;
  margin: 0 auto;
}

.logo {
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 1.68;
}
@media (max-width: 991.98px) {
  .logo {
    font-size: 1.75rem;
    line-height: 2.03;
  }
}
@media (max-width: 479.98px) {
  .logo {
    font-size: 1.25rem;
    line-height: 1.75;
  }
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: flex-end;
  gap: 1.25rem 5rem;
}
@media (max-width: 991.98px) {
  .navigation__list {
    -webkit-column-gap: 2.75rem;
       -moz-column-gap: 2.75rem;
            column-gap: 2.75rem;
  }
}
.navigation__item {
  font-weight: 500;
  line-height: 1.75;
}
.navigation__link {
  position: relative;
  will-change: color;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.navigation__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #104b4f;
  will-change: width;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
@media (any-hover: hover) {
  .navigation__link:hover {
    color: #104b4f;
  }
  .navigation__link:hover::after {
    width: 100%;
  }
}
.navigation__link::first-letter {
  text-transform: uppercase;
}

.burger-btn {
  display: none;
}

.button {
  padding: 1.4375rem 1.875rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0.084375rem;
  text-transform: capitalize;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  position: relative;
  will-change: color, background-color;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button.button--white {
  background-color: #ffffff;
  color: #000000;
}
.button.button--green {
  background-color: #104b4f;
  color: #ffffff;
}
.button.button--small {
  -webkit-padding-before: 0.9375rem;
          padding-block-start: 0.9375rem;
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
}
@media (max-width: 479.98px) {
  .button.button--small {
    padding: 0.75rem 1.125rem 0.8125rem;
  }
}
@media (any-hover: hover) {
  .button:hover {
    color: #ffffff;
    background-color: #8d7e70;
  }
}

.content-block {
  background-color: #f0ebe5;
}
.content-block__wrapper {
  padding: 7.5rem 7.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1.3125rem;
}
.content-block__header {
  font-size: 2.125rem;
  line-height: 1.176;
  text-transform: capitalize;
}
.content-block__text {
  line-height: 1.75;
  max-width: 26.125rem;
}
@media (min-width: 479.98px) and (max-width: 767.98px) {
  .content-block .button {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.0964375rem;
  }
}
@media (max-width: 479.98px) {
  .content-block .button {
    font-size: 0.875rem;
    line-height: 1.28;
  }
}
.content-block._animated .content-block__header, .content-block._animated .content-block__text, .content-block._animated .button {
  will-change: transform, opacity;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.content-block._animated .content-block__text {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.content-block._animated .button {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.content-block._animated._show .content-block__header, .content-block._animated._show .content-block__text, .content-block._animated._show .button {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
.content-block.content-block .button._animated {
  -webkit-transition: opacity 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  transition: opacity 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, opacity 0.5s 0.1s;
  transition: transform 0.5s 0.1s, opacity 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
}

.brand-card {
  padding-block: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.9375rem;
}
.brand-card__image-wrapper {
  height: 2.625rem;
  width: 100%;
}
.brand-card__image {
  width: 100%;
  max-height: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center;
     object-position: center;
}
.brand-card__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.875rem;
  line-height: 1.43;
  text-align: center;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 2.1875rem;
  row-gap: 1rem;
}
@media (min-width: 479.98px) and (max-width: 767.98px) {
  .section-header {
    row-gap: 1.5rem;
  }
}
@media (max-width: 479.98px) {
  .section-header {
    padding-inline: 1.3125rem;
  }
}
.section-header__title {
  text-align: center;
  font-size: 2.125rem;
  line-height: 1.176;
}
@media (max-width: 767.98px) {
  .section-header__title {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}
.section-header__text {
  text-align: center;
  line-height: 1.75;
}
.section-header__text:not(:last-child) {
  margin-bottom: 1.6875rem;
}
@media (max-width: 767.98px) {
  .section-header__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 479.98px) {
  .section-header__text:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: #fffbf2;
}
.header__container {
  padding-block: 1.625rem 1.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5.25rem;
     -moz-column-gap: 5.25rem;
          column-gap: 5.25rem;
}
@media (max-width: 991.98px) {
  .header__container {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    padding-block: 1.5rem 1.5625rem;
  }
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 43.75rem) {
  .header .navigation {
    display: none;
  }
}

.hero {
  position: relative;
  min-height: 36.625rem;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
@media (min-width: 767.98px) and (max-width: 59.375rem) {
  .hero::after {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f0ebe5;
  }
}
.hero__container-max {
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem;
}
@media (max-width: 767.98px) {
  .hero__container-max {
    -webkit-padding-before: 0;
            padding-block-start: 0;
  }
}
.hero__image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .hero__image-wrapper {
    position: relative;
    height: 22.9375rem;
  }
}
.hero__image {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  aspect-ratio: 1366/586;
}
@media (max-width: 85.375rem) {
  .hero__image {
    max-width: 57.5rem;
    -o-object-position: center;
       object-position: center;
  }
}
@media (max-width: 767.98px) {
  .hero__image {
    max-width: 17.5rem;
    -o-object-position: center;
       object-position: center;
  }
}
.hero__content {
  position: relative;
  z-index: 2;
  color: #ffffff;
  background-color: transparent;
}
.hero__content .content-block__wrapper {
  row-gap: 2.1875rem;
}
@media (max-width: 767.98px) {
  .hero__content .content-block__wrapper {
    padding: 3rem 1.6875rem 3.9375rem;
    row-gap: 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .hero__content .content-block__wrapper {
    padding: 1.875rem 0.8125rem 2.75rem;
  }
}
.hero__content .content-block__header {
  font-size: 3rem;
  line-height: 1.18;
}
.hero__content .content-block__header._animated {
  will-change: transform, opacity;
  -webkit-transform: translate(-30%, -30%);
      -ms-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.hero__content .content-block__header._animated._show {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
@media (max-width: 767.98px) {
  .hero__content .content-block__header {
    font-size: 2rem;
    line-height: 1.25;
  }
  .hero__content .content-block__header:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 479.98px) {
  .hero__content .content-block__header {
    max-width: 14.375rem;
  }
  .hero__content .content-block__header:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .hero__content .content-block__text:not(:last-child) {
    margin-bottom: 0.0625rem;
  }
}
@media (max-width: 479.98px) {
  .hero__content .content-block__text:not(:last-child) {
    margin-bottom: 0.125rem;
  }
}
@media (max-width: 767.98px) {
  .hero__content {
    left: 0;
    color: #000000;
    max-width: 100%;
  }
  .hero__content .content-block__text {
    max-width: 100%;
  }
}

.brands__container {
  -webkit-padding-before: 3.9375rem;
          padding-block-start: 3.9375rem;
  -webkit-padding-after: 5rem;
          padding-block-end: 5rem;
}
@media (min-width: 37.5rem) {
  .brands__container {
    padding-inline: 0;
  }
}
@media (max-width: 767.98px) {
  .brands__container {
    -webkit-padding-before: 3rem;
            padding-block-start: 3rem;
    -webkit-padding-after: 3.4375rem;
            padding-block-end: 3.4375rem;
  }
}
@media (max-width: 479.98px) {
  .brands__container {
    -webkit-padding-before: 3.1875rem;
            padding-block-start: 3.1875rem;
    -webkit-padding-after: 2.75rem;
            padding-block-end: 2.75rem;
  }
}
@media (min-width: 767.98px) {
  .brands__item._animated {
    will-change: transform, opacity;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  .swiper-slide:nth-child(1) .brands__item._animated {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .swiper-slide:nth-child(2) .brands__item._animated {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .swiper-slide:nth-child(3) .brands__item._animated {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .swiper-slide:nth-child(4) .brands__item._animated {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  .swiper-slide:nth-child(5) .brands__item._animated {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .brands__item._animated._show {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .brands__item .brand-card__text {
    max-width: 19rem;
  }
}
@media (max-width: 479.98px) {
  .brands__item .brand-card__text {
    max-width: 13.6875rem;
  }
}
.brands .swiper {
  max-width: 59.125rem;
  margin: 0 auto;
  -webkit-padding-after: 2.8125rem;
          padding-block-end: 2.8125rem;
}
@media (max-width: 479.98px) {
  .brands .swiper {
    -webkit-padding-after: 4.125rem;
            padding-block-end: 4.125rem;
  }
}
.brands .swiper-wrapper {
  width: 100%;
}
.brands .swiper-slide {
  width: 16.5961945032%;
  min-width: 9.8125rem;
}
.brands .swiper-pagination-bullet {
  width: 0.6875rem;
  height: 0.6875rem;
  --swiper-pagination-bullet-horizontal-gap: 1.25rem;
  border: 0.0625rem solid #104b4f;
  background-color: #104b4f;
  opacity: 1;
}
.brands .swiper-pagination-bullet-active {
  background-color: transparent;
}

.advantages__container-max {
  padding-inline: 0;
}
.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantages__row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 767.98px) {
  .advantages__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 24.9375rem;
        flex-basis: 24.9375rem;
    max-width: 100%;
  }
  .advantages__row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.advantages__column-img, .advantages__column-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42.6875rem;
          flex: 1 1 42.6875rem;
  max-width: 50%;
}
@media (max-width: 767.98px) {
  .advantages__column-img, .advantages__column-content {
    max-width: 100%;
  }
}
.advantages__column-img {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  overflow: hidden;
  aspect-ratio: 683/458;
}
@media (max-width: 767.98px) {
  .advantages__column-img {
    aspect-ratio: 600/402;
  }
}
@media (max-width: 479.98px) {
  .advantages__column-img {
    aspect-ratio: 320/214;
  }
}
.advantages__img {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .advantages__column-content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.advantages__content {
  min-height: 100%;
}
.advantages__content .content-block__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 767.98px) {
  .advantages__content .content-block__wrapper {
    padding: 2.1875rem 14.2020497804% 4.5625rem;
    row-gap: 0.4375rem;
  }
  .advantages__content .content-block__header {
    font-size: 1.75rem;
    line-height: 1.25;
  }
  .advantages__content .content-block__text {
    letter-spacing: 0.02775rem;
  }
  .advantages__content .content-block__text:not(:last-child) {
    margin-bottom: 0.5625rem;
  }
}
@media (max-width: 479.98px) {
  .advantages__content .content-block__wrapper {
    padding: 2.5rem 1.125rem 3rem;
    row-gap: 1rem;
  }
  .advantages__content .content-block__header:not(:last-child) {
    margin-bottom: 0.625rem;
  }
  .advantages__content .content-block__text {
    letter-spacing: normal;
  }
  .advantages__content .content-block__text:not(:last-child) {
    margin-bottom: 0;
  }
  .advantages__content .button {
    -webkit-padding-before: 0.9375rem;
            padding-block-start: 0.9375rem;
    -webkit-padding-after: 1rem;
            padding-block-end: 1rem;
  }
}

.reviews {
  background-color: #a7bcb8;
}
.reviews__container {
  -webkit-padding-before: 4.1875rem;
          padding-block-start: 4.1875rem;
  -webkit-padding-after: 3.4375rem;
          padding-block-end: 3.4375rem;
}
@media (max-width: 767.98px) {
  .reviews__container {
    -webkit-padding-before: 3.625rem;
            padding-block-start: 3.625rem;
    -webkit-padding-after: 0.75rem;
            padding-block-end: 0.75rem;
  }
}
@media (max-width: 479.98px) {
  .reviews__container {
    -webkit-padding-before: 2.9375rem;
            padding-block-start: 2.9375rem;
    -webkit-padding-after: 0.75rem;
            padding-block-end: 0.75rem;
  }
}
.reviews__title {
  font-size: 2.125rem;
  line-height: 1.176;
  text-align: center;
}
.reviews__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}
@media (max-width: 767.98px) {
  .reviews__title:not(:last-child) {
    margin-bottom: 1.9375rem;
  }
}
@media (max-width: 479.98px) {
  .reviews__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
.reviews__slider {
  position: relative;
}
.reviews__slider .swiper-wrapper {
  -webkit-padding-after: 0.9375rem;
          padding-block-end: 0.9375rem;
}
.reviews__slider .swiper-slide {
  width: 23.875rem;
}
@media (max-width: 767.98px) {
  .reviews__slider .swiper-slide .review__text {
    margin-left: auto;
    margin-right: auto;
  }
}
.reviews__slider .swiper-pagination-bullet {
  width: 0.6875rem;
  height: 0.6875rem;
  --swiper-pagination-bullet-horizontal-gap: 1.25rem;
  border: 0.0625rem solid #104b4f;
  background-color: #104b4f;
  opacity: 1;
}
.reviews__slider .swiper-pagination-bullet-active {
  background-color: transparent;
}

.review {
  padding-block: 2.1875rem;
}
.review > * {
  margin-bottom: 1.8125rem;
}
@media (max-width: 767.98px) {
  .review > * {
    margin-bottom: 2.125rem;
  }
}
@media (max-width: 479.98px) {
  .review > * {
    margin-bottom: 1.5rem;
  }
}
.review > *:last-child {
  margin-bottom: 0rem;
}
.review__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  margin-bottom: 3.3125rem;
}
@media (max-width: 767.98px) {
  .review__rate {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 479.98px) {
  .review__rate {
    margin-bottom: 2rem;
  }
}
.review__rate-image {
  font-size: 1rem;
  line-height: 1.0625;
  color: #08464a;
}
.review__text {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767.98px) {
  .review__text {
    font-size: 1rem;
    line-height: 1.75;
  }
}
.review__author-name {
  font-size: 0.875rem;
  line-height: 1.428;
  text-align: center;
}

.join-us {
  padding-block: 5.75rem;
}
@media (max-width: 767.98px) {
  .join-us {
    padding-block: 3.75rem;
  }
}
@media (max-width: 479.98px) {
  .join-us {
    padding-block: 2.75rem;
  }
}
.join-us__container-max:has(.join-us__link) {
  text-align: center;
}
.join-us__header .section-header__text {
  max-width: 21.6875rem;
}
.join-us__header:not(:last-child) {
  margin-bottom: 2.6875rem;
}
@media (max-width: 767.98px) {
  .join-us__header:not(:last-child) {
    margin-bottom: 2.4375rem;
  }
}
@media (max-width: 479.98px) {
  .join-us__header:not(:last-child) {
    margin-bottom: 2.25rem;
  }
}
.join-us__collage {
  margin: 0 auto;
}
.join-us__collage:not(:last-child) {
  margin-bottom: 3.4375rem;
}
@media (max-width: 767.98px) {
  .join-us__collage:not(:last-child) {
    margin-bottom: 1.6875rem;
  }
}
@media (max-width: 479.98px) {
  .join-us__collage:not(:last-child) {
    margin-bottom: 1.4375rem;
  }
}
.join-us__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.75;
  position: relative;
  will-change: color;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.join-us__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #104b4f;
  will-change: width;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
@media (any-hover: hover) {
  .join-us__link:hover {
    color: #104b4f;
  }
  .join-us__link:hover::after {
    width: 100%;
  }
}
.join-us__link span::before {
  font-size: 1.125rem;
  line-height: 1;
  color: #23575a;
}
@media (max-width: 767.98px) {
  .join-us__link {
    letter-spacing: 0.02775rem;
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
@media (max-width: 479.98px) {
  .join-us__link {
    font-size: 0.875rem;
  }
}

.collage {
  width: 66.6910688141%;
  display: grid;
  grid-template-columns: repeat(3, minmax(9.5625rem, 1fr));
  gap: 1.6875rem 1.9375rem;
}
@media (max-width: 767.98px) {
  .collage {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0.875rem;
  }
}
.collage__item {
  aspect-ratio: 283/285;
  position: relative;
  overflow: hidden;
  will-change: transform;
  -webkit-transition-property: opacity, border-radius;
  transition-property: opacity, border-radius;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.collage__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.collage__item:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.collage__item:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.collage__item:nth-child(5) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.collage__item:nth-child(6) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.collage__item:nth-child(7) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.collage._animated .collage__item {
  border-radius: 20%;
  opacity: 0.5;
}
.collage._animated._show .collage__item {
  border-radius: 0%;
  opacity: 1;
}
.collage__item:focus-within {
  outline: auto;
}
@media (max-width: 767.98px) {
  .collage__item {
    aspect-ratio: 153/154;
  }
}
@media (hover) {
  .collage__item:hover .collage__image {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}
.collage__link {
  width: 100%;
  height: 100%;
  position: relative;
}
.collage__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.best-sellers {
  -webkit-padding-before: 6.6875rem;
          padding-block-start: 6.6875rem;
  -webkit-padding-after: 7.25rem;
          padding-block-end: 7.25rem;
  background-color: #a7bcb8;
}
@media (max-width: 767.98px) {
  .best-sellers {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
    -webkit-padding-after: 3.5rem;
            padding-block-end: 3.5rem;
  }
}
@media (max-width: 479.98px) {
  .best-sellers {
    padding-block: 2.75rem;
  }
}
.best-sellers__header:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 479.98px) {
  .best-sellers__header {
    padding-inline: 0.625rem;
  }
}
@media (max-width: 479.98px) {
  .best-sellers__header .section-header__title {
    max-width: 13.0625rem;
  }
}
.best-sellers__header .section-header__text {
  max-width: 33.25rem;
}
.best-sellers__swiper {
  width: 83.6749633968%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 87.5rem) {
  .best-sellers__swiper {
    width: 100vw;
  }
}
@media (max-width: 37.5rem) {
  .best-sellers__swiper {
    -webkit-padding-after: 0;
            padding-block-end: 0;
  }
}
.best-sellers__swiper.swiper-best-sellers {
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
}
.best-sellers__swiper .swiper-slide {
  width: 22.5625rem;
  min-width: 16.625rem;
  height: auto;
}
.best-sellers__swiper .swiper-slide .product {
  height: 100%;
}
@media (max-width: 37.5rem) {
  .best-sellers__swiper .swiper-slide .product {
    max-width: 75.3333333333%;
    margin: 0 auto;
  }
}
@media (max-width: 479.98px) {
  .best-sellers__swiper .swiper-slide .product {
    max-width: 83.125%;
  }
}
.best-sellers__swiper .swiper-pagination-bullet {
  width: 0.6875rem;
  height: 0.6875rem;
  --swiper-pagination-bullet-horizontal-gap: 1.25rem;
  border: 0.0625rem solid #104b4f;
  background-color: #104b4f;
  opacity: 1;
}
.best-sellers__swiper .swiper-pagination-bullet-active {
  background-color: transparent;
}

.product {
  padding: 1.875rem 1.875rem 1.875rem 2rem;
  background-color: #fffbf2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.6875rem;
}
@media (max-width: 767.98px) {
  .product {
    row-gap: 1.5625rem;
  }
}
.product__image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.product__image-wrapper:focus-within {
  outline: auto;
}
@media (any-hover: hover) {
  .product__image-wrapper:hover .product__image {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}
.product__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  aspect-ratio: 299/299;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 767.98px) {
  .product__image {
    aspect-ratio: 388/390;
  }
}
@media (max-width: 479.98px) {
  .product__image {
    aspect-ratio: 207/206;
  }
}
.product__image-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.3125rem;
     -moz-column-gap: 1.3125rem;
          column-gap: 1.3125rem;
}
.product__header:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media (max-width: 479.98px) {
  .product__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__header:not(:last-child) {
    margin-bottom: 0.1875rem;
  }
}
.product__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 14.375rem;
          flex: 1 1 14.375rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.009375rem;
}
@media (max-width: 767.98px) {
  .product__title {
    font-size: 1.125rem;
    line-height: 1.44;
  }
}
.product__title-link {
  position: relative;
  will-change: color;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.product__title-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #104b4f;
  will-change: width;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
@media (any-hover: hover) {
  .product__title-link:hover {
    color: #104b4f;
  }
  .product__title-link:hover::after {
    width: 100%;
  }
}
.product__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  font-size: 0.875rem;
  line-height: 1.428;
  letter-spacing: 0.015625rem;
  margin-top: 0.375rem;
}
.product__description {
  line-height: 1.75;
}
.product .button:last-child {
  margin-top: 1.4375rem;
}
@media (max-width: 767.98px) {
  .product .button:last-child {
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .product .button {
    -webkit-padding-before: 1.25rem;
            padding-block-start: 1.25rem;
    -webkit-padding-after: 1.1875rem;
            padding-block-end: 1.1875rem;
  }
}
@media (max-width: 479.98px) {
  .product .button {
    -webkit-padding-before: 0.9375rem;
            padding-block-start: 0.9375rem;
    -webkit-padding-after: 1rem;
            padding-block-end: 1rem;
  }
}

.buy {
  min-height: 36.1875rem;
  position: relative;
}
@media (max-width: 479.98px) {
  .buy {
    min-height: 26.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.buy__image-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.buy__background {
  width: 100%;
  height: 100%;
  aspect-ratio: 1366/579;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 479.98px) {
  .buy__container-max {
    padding-inline: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.buy__content {
  color: #ffffff;
  position: relative;
  background-color: transparent;
}
.buy__content .content-block__wrapper {
  padding-block: 4.5rem;
}
@media (max-width: 767.98px) {
  .buy__content .content-block__wrapper {
    padding-block: 3.75rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 479.98px) {
  .buy__content .content-block__wrapper {
    padding-inline: 0;
    padding-block: 2.75rem;
    min-height: 100%;
  }
}
@media (max-width: 767.98px) {
  .buy__content .content-block__header {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}
.buy__content .content-block__text {
  max-width: 31.25rem;
}
@media (max-width: 767.98px) {
  .buy__content .content-block__text {
    max-width: 21.0625rem;
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .buy__content .content-block__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.buy__content .button {
  padding-inline: 4rem;
  text-transform: none;
}
.buy__content .button::first-letter {
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .buy__content .button {
    font-size: 0.875rem;
    line-height: 1.357;
    letter-spacing: 0.084375rem;
  }
}
@media (max-width: 479.98px) {
  .buy__content .button {
    -webkit-padding-before: 0.9375rem;
            padding-block-start: 0.9375rem;
    -webkit-padding-after: 1rem;
            padding-block-end: 1rem;
    padding-inline: 3.375rem;
    letter-spacing: normal;
  }
}

.footer__container {
  -webkit-padding-before: 4.5625rem;
          padding-block-start: 4.5625rem;
  -webkit-padding-after: 1.9375rem;
          padding-block-end: 1.9375rem;
  text-align: center;
}
@media (max-width: 767.98px) {
  .footer__container {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
@media (max-width: 479.98px) {
  .footer__container {
    -webkit-padding-before: 1.5rem;
            padding-block-start: 1.5rem;
  }
}
.footer__logo {
  font-size: 3rem;
  line-height: 1.187;
}
@media (max-width: 767.98px) {
  .footer__logo {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}
.footer__logo:not(:last-child) {
  margin-bottom: 2.3125rem;
}
@media (max-width: 767.98px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 479.98px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 1.1875rem;
  }
}
.footer__navigation .navigation__list {
  justify-self: center;
}
@media (max-width: 767.98px) {
  .footer__navigation .navigation__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer__navigation:not(:last-child) {
  margin-bottom: 5.375rem;
}
@media (max-width: 767.98px) {
  .footer__navigation:not(:last-child) {
    margin-bottom: 2.75rem;
  }
}
@media (max-width: 479.98px) {
  .footer__navigation:not(:last-child) {
    margin-bottom: 1.625rem;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6875rem 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 479.98px) {
  .footer__bottom {
    row-gap: 1.5rem;
  }
}
.footer__form {
  -ms-flex-preferred-size: 32.75rem;
      flex-basis: 32.75rem;
}
@media (max-width: 991.98px) {
  .footer__form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.footer__form .button {
  padding-inline: 2.75rem;
}
@media (max-width: 767.98px) {
  .footer__form .button {
    padding-inline: 1.625rem;
    -webkit-padding-before: 0.9375rem;
            padding-block-start: 0.9375rem;
    -webkit-padding-after: 1rem;
            padding-block-end: 1rem;
  }
}
@media (max-width: 479.98px) {
  .footer__form .button {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem 1.1875rem;
}
.subscribe-form__input-wrapper {
  -ms-flex-preferred-size: 21.25rem;
      flex-basis: 21.25rem;
}
@media (max-width: 767.98px) {
  .subscribe-form__input-wrapper {
    -ms-flex-preferred-size: 15.6875rem;
        flex-basis: 15.6875rem;
  }
}
@media (max-width: 479.98px) {
  .subscribe-form__input-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.subscribe-form__input {
  font-size: 0.875rem;
  height: 4.0625rem;
  font-weight: 600;
  line-height: 1.357;
  padding-inline: 1.4375rem;
  border: 0.0625rem solid #104b4f;
}
@media (max-width: 767.98px) {
  .subscribe-form__input {
    padding-inline: 1.75rem;
    padding-block: 0.9375rem;
  }
}

.social {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.375rem;
     -moz-column-gap: 1.375rem;
          column-gap: 1.375rem;
  min-height: 2rem;
}
.social__item {
  font-size: 1.25rem;
}
.social__link {
  will-change: color;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .social__link:hover {
    color: #104b4f;
  }
}