@import url("https://fonts.googleapis.com/css?family=Mulish:regular,500,600&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?qc2d8b") format("truetype"), url("../fonts/icomoon.woff?qc2d8b") format("woff"), url("../fonts/icomoon.woff2?qc2d8b") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-star:before {
  content: "\e902";
}

._icon-whatsapp:before {
  content: "\e903";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #fffbf2;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 85.3125rem;
  padding-inline: 3.5625rem;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  [class$=__container] {
    padding-inline: 1.75rem;
  }
}
@media (max-width: 479.98px) {
  [class$=__container] {
    padding-inline: 0.9375rem;
  }
}

[class$=__container-max] {
  max-width: 86.625rem;
  padding-inline: 0.625rem;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  [class$=__container-max] {
    padding-inline: 0.9375rem;
  }
}

.button {
  padding: 1.4375rem 1.875rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0.084375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  border-image-width: 0;
}
.button.button--white, .hero__content.content-block .button {
  background-color: #ffffff;
  color: #000000;
}
.button.button--green {
  background-color: #104b4f;
  color: #ffffff;
}
.button.button--small {
  -webkit-padding-before: 0.9375rem;
          padding-block-start: 0.9375rem;
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
}
@media (max-width: 479.98px) {
  .button.button--small {
    padding: 0.75rem 1.125rem 0.8125rem;
  }
}

.content-block {
  background-color: #F0EBE5;
}
.content-block__wrapper {
  padding: 7.5rem 16.5446559297%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1.3125rem;
}
.content-block__header {
  font-size: 2.125rem;
  line-height: 1.176;
  text-transform: capitalize;
}
.content-block__text {
  line-height: 1.75;
  max-width: 26.125rem;
}
@media (min-width: 479.98px) and (max-width: 767.98px) {
  .content-block .button {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.0964375rem;
  }
}
@media (max-width: 479.98px) {
  .content-block .button {
    font-size: 0.875rem;
    line-height: 1.28;
  }
}

.brand-card {
  padding-block: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.9375rem;
}
.brand-card__image-wrapper {
  height: 2.625rem;
  width: 100%;
}
.brand-card__image {
  width: 100%;
  max-height: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center;
     object-position: center;
}
.brand-card__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.875rem;
  line-height: 1.43;
  text-align: center;
}

.header__container {
  padding-block: 1.625rem 1.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5.25rem;
     -moz-column-gap: 5.25rem;
          column-gap: 5.25rem;
}
@media (max-width: 991.98px) {
  .header__container {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    padding-block: 1.5rem 1.5625rem;
  }
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 43.75rem) {
  .header .navigation {
    display: none;
  }
}

.logo {
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 1.68;
}
@media (max-width: 991.98px) {
  .logo {
    font-size: 1.75rem;
    line-height: 2.03;
  }
}
@media (max-width: 479.98px) {
  .logo {
    font-size: 1.25rem;
    line-height: 1.75;
  }
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: flex-end;
  gap: 1.25rem 5rem;
}
@media (max-width: 991.98px) {
  .navigation__list {
    -webkit-column-gap: 2.75rem;
       -moz-column-gap: 2.75rem;
            column-gap: 2.75rem;
  }
}
.burger-btn {
  display: none;
}

.hero {
  position: relative;
  min-height: 36.625rem;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
@media (min-width: 767.98px) and (max-width: 59.375rem) {
  .hero::after {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F0EBE5;
  }
}
.hero__container {
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem;
}
@media (max-width: 767.98px) {
  .hero__container {
    -webkit-padding-before: 0;
            padding-block-start: 0;
  }
}
.hero__image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .hero__image-wrapper {
    position: relative;
    height: 22.9375rem;
  }
}
.hero__image {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  aspect-ratio: 1366/586;
}
@media (max-width: 85.375rem) {
  .hero__image {
    max-width: 57.5rem;
    -o-object-position: center;
       object-position: center;
  }
}
@media (max-width: 767.98px) {
  .hero__image {
    max-width: 17.5rem;
    -o-object-position: center;
       object-position: center;
  }
}
.hero__content {
  position: relative;
  z-index: 2;
  color: #ffffff;
  background-color: transparent;
}
.hero__content .content-block__wrapper {
  row-gap: 2.1875rem;
}
@media (max-width: 767.98px) {
  .hero__content .content-block__wrapper {
    padding: 3rem 1.6875rem 3.9375rem;
    row-gap: 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .hero__content .content-block__wrapper {
    padding: 1.875rem 0.8125rem 2.75rem;
  }
}
.hero__content .content-block__header {
  font-size: 3rem;
  line-height: 1.18;
}
@media (max-width: 767.98px) {
  .hero__content .content-block__header {
    font-size: 2rem;
    line-height: 1.25;
  }
  .hero__content .content-block__header:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 479.98px) {
  .hero__content .content-block__header {
    max-width: 14.375rem;
  }
  .hero__content .content-block__header:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .hero__content .content-block__text:not(:last-child) {
    margin-bottom: 0.0625rem;
  }
}
@media (max-width: 479.98px) {
  .hero__content .content-block__text:not(:last-child) {
    margin-bottom: 0.125rem;
  }
}
@media (max-width: 767.98px) {
  .hero__content.content-block .button {
    padding-block: 1.3125rem;
    width: 100%;
    background-color: #104b4f;
    color: #ffffff;
    font-size: 1rem;
  }
}
@media (max-width: 767.98px) {
  .hero__content {
    left: 0;
    color: #000000;
    max-width: 100%;
  }
  .hero__content .content-block__text {
    max-width: 100%;
  }
}

.brands__container {
  -webkit-padding-before: 3.9375rem;
          padding-block-start: 3.9375rem;
  -webkit-padding-after: 5rem;
          padding-block-end: 5rem;
}
@media (min-width: 37.5rem) {
  .brands__container {
    padding-inline: 0;
  }
}
@media (max-width: 767.98px) {
  .brands__container {
    -webkit-padding-before: 3rem;
            padding-block-start: 3rem;
    -webkit-padding-after: 3.4375rem;
            padding-block-end: 3.4375rem;
  }
}
@media (max-width: 479.98px) {
  .brands__container {
    -webkit-padding-before: 3.1875rem;
            padding-block-start: 3.1875rem;
    -webkit-padding-after: 2.75rem;
            padding-block-end: 2.75rem;
  }
}
@media (max-width: 767.98px) {
  .brands__item .brand-card__text {
    max-width: 19rem;
  }
}
@media (max-width: 479.98px) {
  .brands__item .brand-card__text {
    max-width: 13.6875rem;
  }
}
.brands .swiper {
  max-width: 59.125rem;
  margin: 0 auto;
  -webkit-padding-after: 2.8125rem;
          padding-block-end: 2.8125rem;
}
@media (max-width: 479.98px) {
  .brands .swiper {
    -webkit-padding-after: 4.125rem;
            padding-block-end: 4.125rem;
  }
}
.brands .swiper-wrapper {
  width: 100%;
}
.brands .swiper-slide {
  width: 16.5961945032%;
  min-width: 9.8125rem;
}
.brands .swiper-pagination-bullet {
  width: 0.5625rem;
  height: 0.5625rem;
  --swiper-pagination-bullet-horizontal-gap: 1.31rem;
}
.brands .swiper-pagination-bullet-active {
  background-color: #104b4f;
}

.advantages__container-max {
  padding-inline: 0;
}
.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantages__row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 767.98px) {
  .advantages__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 24.9375rem;
        flex-basis: 24.9375rem;
    max-width: 100%;
  }
  .advantages__row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.advantages__column-img, .advantages__column-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42.6875rem;
          flex: 1 1 42.6875rem;
  max-width: 50%;
}
@media (max-width: 767.98px) {
  .advantages__column-img, .advantages__column-content {
    max-width: 100%;
  }
}
.advantages__column-img {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  overflow: hidden;
  aspect-ratio: 683/458;
}
@media (max-width: 767.98px) {
  .advantages__column-img {
    aspect-ratio: 600/402;
  }
}
@media (max-width: 479.98px) {
  .advantages__column-img {
    aspect-ratio: 320/214;
  }
}
.advantages__img {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .advantages__column-content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.advantages__content {
  min-height: 100%;
}
.advantages__content .content-block__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 767.98px) {
  .advantages__content .content-block__wrapper {
    padding: 2.1875rem 14.2020497804% 4.5625rem;
    row-gap: 0.4375rem;
  }
  .advantages__content .content-block__header {
    font-size: 1.75rem;
    line-height: 1.25;
  }
  .advantages__content .content-block__text {
    letter-spacing: 0.02775rem;
  }
  .advantages__content .content-block__text:not(:last-child) {
    margin-bottom: 0.5625rem;
  }
}
@media (max-width: 479.98px) {
  .advantages__content .content-block__wrapper {
    padding: 2.5rem 1.125rem 3rem;
    row-gap: 1rem;
  }
  .advantages__content .content-block__header:not(:last-child) {
    margin-bottom: 0.625rem;
  }
  .advantages__content .content-block__text {
    letter-spacing: normal;
  }
  .advantages__content .content-block__text:not(:last-child) {
    margin-bottom: 0;
  }
  .advantages__content .button {
    -webkit-padding-before: 0.9375rem;
            padding-block-start: 0.9375rem;
    -webkit-padding-after: 1rem;
            padding-block-end: 1rem;
  }
}