.logo {
    font-size: toRem(34);
    font-weight: 500;
    line-height: 1.68;
    @media (max-width: $tablet) {
        font-size: toRem(28);
        line-height: 2.03;
    }
    @media (max-width: $smallMobile) {
        font-size: toRem(20);
        line-height: 1.75;
    }
}
.navigation {
    flex-grow: 1;

    // .navigation__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-self: flex-end;
        gap: toRem(20) toRem(80);
        @media (max-width: $tablet) {
            column-gap: toRem(44);
        }
    }

    // .navigation__item

    &__item {
        font-weight: 500;
        line-height: 1.75;
    }

    // .navigation__link

    &__link {
        &::first-letter {
            text-transform: uppercase;
        }
    }
}
.burger-btn {
    display: none;
}

.button {
    padding: toRem(23) toRem(30);
    font-size: toRem(14);
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: toRem(1.35);
    text-transform: capitalize;
    flex-shrink: 0;
    text-align: center;
    border-image-width: 0;

    &.button--white {
        background-color: #ffffff;
        color: #000000;
    }
    &.button--green {
        background-color: $greenColor;
        color: #ffffff;
    }
    &.button--small {
        padding-block-start: toRem(15);
        padding-block-end: toRem(16);
        @media (max-width: $smallMobile) {
            padding: toRem(12) toRem(18) toRem(13);
        }
    }
}

.content-block {
    background-color: $beigeColor;
    &__wrapper {
        padding: toRem(120) toPercent(113, 683);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: toRem(21);
    }
    // .content-block__header

    &__header {
        font-size: toRem(34);
        line-height: 1.176;
        text-transform: capitalize;
    }

    // .content-block__text

    &__text {
        line-height: 1.75;
        max-width: toRem(418);
    }
    & .button {
        @media (min-width: $smallMobile) and (max-width: $mobile) {
            font-size: toRem(16);
            line-height: 1.25;
            letter-spacing: toRem(1.543);
        }
        @media (max-width: $smallMobile) {
            font-size: toRem(14);
            line-height: 1.28;
        }
    }
}

.brand-card {
    padding-block: toRem(10);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: toRem(15);

    // .brand-card__image-wrapper

    &__image-wrapper {
        height: toRem(42);
        width: 100%;
    }

    // .brand-card__image

    &__image {
        width: 100%;
        max-height: 100%;
        object-fit: none;
        object-position: center;
    }

    // .brand-card__text

    &__text {
        flex-grow: 1;
        font-size: toRem(14);
        line-height: 1.43;
        text-align: center;
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: toRem(35);
    row-gap: toRem(16);
    @media (min-width: $smallMobile) and (max-width: $mobile) {
        row-gap: toRem(24);
    }
    @media (max-width: $smallMobile) {
        padding-inline: toRem(21);
    }

    // .section-header__title

    &__title {
        text-align: center;
        font-size: toRem(34);
        line-height: 1.176;
        @media (max-width: $mobile) {
            font-size: toRem(28);
            line-height: 1.25;
        }
    }

    // .section-header__text

    &__text {
        text-align: center;
        line-height: 1.75;

        &:not(:last-child) {
            margin-bottom: toRem(27);
            @media (max-width: $mobile) {
                margin-bottom: toRem(15);
            }
            @media (max-width: $smallMobile) {
                margin-bottom: toRem(10);
            }
        }
    }
}
