.hero {
    position: relative;
    min-height: toRem(586);
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.2);
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        @media (min-width: $mobile) and (max-width: toRem(950)) {
            display: block;
        }
    }

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        background-color: $beigeColor;
    }
    &__container {
        padding-block-start: toRem(64);
        @media (max-width: $mobile) {
            padding-block-start: 0;
        }
    }
    // .hero__image-wrapper

    &__image-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        height: 100%;
        overflow: hidden;

        @media (max-width: toRem(1050)) {
        }

        @media (max-width: $mobile) {
            position: relative;

            height: toRem(367);
        }
    }

    // .hero__image

    &__image {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        aspect-ratio: 1366 /586;
        @media (max-width: toRem(1366)) {
            max-width: toRem(920);
            object-position: center;
        }

        @media (max-width: $mobile) {
            max-width: toRem(280);
            object-position: center;
        }
    }

    // .hero__content

    &__content {
        position: relative;
        z-index: 2;
        // left: toRem(-28);
        color: #ffffff;
        background-color: transparent;
        & .content-block__wrapper {
            row-gap: toRem(35);
            @media (max-width: $mobile) {
                padding: toRem(48) toRem(27) toRem(63);
                row-gap: toRem(20);
                align-items: center;
                text-align: center;
            }
            @media (max-width: $smallMobile) {
                padding: toRem(30) toRem(13) toRem(44);
            }
        }
        & .content-block__header {
            font-size: toRem(48);
            line-height: 1.18;
            @media (max-width: $mobile) {
                font-size: toRem(32);
                line-height: 1.25;
                &:not(:last-child) {
                    margin-bottom: toRem(8);
                }
            }
            @media (max-width: $smallMobile) {
                max-width: toRem(230);
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
        & .content-block__text {
            @media (max-width: $mobile) {
                &:not(:last-child) {
                    margin-bottom: toRem(1);
                }
            }
            @media (max-width: $smallMobile) {
                &:not(:last-child) {
                    margin-bottom: toRem(2);
                }
            }
        }
        &.content-block .button {
            @extend .button--white;
            @media (max-width: $mobile) {
                padding-block: toRem(21);
                width: 100%;
                background-color: $greenColor;
                color: #ffffff;
                font-size: toRem(16);
            }
        }

        @media (max-width: $mobile) {
            left: 0;
            color: #000000;
            max-width: 100%;
            & .content-block__text {
                max-width: 100%;
            }
        }
    }
}

//Brands--------------------

.brands {
    // .brands__container

    &__container {
        padding-block-start: toRem(63);
        padding-block-end: toRem(80);

        @media (min-width: toRem(600)) {
            padding-inline: 0;
        }
        @media (max-width: $mobile) {
            padding-block-start: toRem(48);
            padding-block-end: toRem(55);
        }
        @media (max-width: $smallMobile) {
            padding-block-start: toRem(51);
            padding-block-end: toRem(44);
        }
    }

    // .brands__item

    &__item {
        & .brand-card__text {
            @media (max-width: $mobile) {
                max-width: toRem(304);
            }
            @media (max-width: $smallMobile) {
                max-width: toRem(219);
            }
        }
    }

    //swiper-----
    & .swiper {
        max-width: toRem(946);
        margin: 0 auto;
        padding-block-end: toRem(45);
        @media (max-width: $smallMobile) {
            padding-block-end: toRem(66);
        }
    }
    & .swiper-wrapper {
        width: 100%;
    }
    & .swiper-slide {
        width: toPercent(157, 946);
        min-width: toRem(157);
    }

    & .swiper-pagination-bullet {
        width: toRem(9);
        height: toRem(9);
        --swiper-pagination-bullet-horizontal-gap: 1.31rem;
    }
    & .swiper-pagination-bullet-active {
        background-color: $greenColor;
    }
}

// Advantages ---------------------------------
.advantages {
    // .advantages__container-max

    &__container-max {
        padding-inline: 0;
    }

    // .advantages__row

    &__row {
        display: flex;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
        @media (max-width: $mobile) {
            flex-direction: column;
            flex-basis: toRem(399);
            max-width: 100%;
            &:nth-child(even) {
                flex-direction: column;
            }
        }
    }

    // .advantages__column-img
    &__column-img,
    &__column-content {
        flex: 1 1 toRem(683);
        max-width: 50%;
        @media (max-width: $mobile) {
            max-width: 100%;
        }
    }

    &__column-img {
        flex-basis: auto;
        overflow: hidden;
        aspect-ratio: 683 / 458;
        @media (max-width: $mobile) {
            aspect-ratio: 600 / 402;
        }
        @media (max-width: $smallMobile) {
            aspect-ratio: 320 / 214;
        }
    }
    &__img {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .advantages__column-content

    &__column-content {
        @media (max-width: $mobile) {
            flex-basis: auto;
        }
    }

    // .advantages__content

    &__content {
        min-height: 100%;
        & .content-block__text {
            &:not(:last-child) {
                margin-bottom: toRem(15);
            }
        }
        @media (max-width: $mobile) {
            & .content-block__wrapper {
                padding: toRem(35) toPercent(97, 683) toRem(73);
                row-gap: toRem(7);
            }
            & .content-block__header {
                font-size: toRem(28);
                line-height: 1.25;
            }
            & .content-block__text {
                letter-spacing: toRem(0.444);
                &:not(:last-child) {
                    margin-bottom: toRem(9);
                }
            }
        }
        @media (max-width: $smallMobile) {
            & .content-block__wrapper {
                padding: toRem(40) toRem(18) toRem(48);
                row-gap: toRem(16);
            }
            & .content-block__header {
                &:not(:last-child) {
                    margin-bottom: toRem(10);
                }
            }
            & .content-block__text {
                letter-spacing: normal;
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
            & .button {
                padding-block-start: toRem(15);
                padding-block-end: toRem(16);
            }
        }
    }
}
