$maxWidthContainer: 1251;

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

$whiteSmokeColor: #fffbf2;
$greenColor: #104b4f;
$mintColor: #a7bcb8;
$beigeColor: #f0ebe5;

$scrollPadding: toRem(110);
